# Job Board Scraping Lab

In this lab you will first see a minimal but fully functional code snippet to scrape the LinkedIn Job Search webpage. You will then work on top of the example code and complete several chanllenges.

### Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [3]:
# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    
    
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    
    # Assemble the full url with parameters

    scrape_url = ''.join([BASE_URL, 'keywords=', keywords])

    # Create a request to get the data from the server 
    page = requests.get(scrape_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    
    for card in soup.select("div.result-card__contents"):
        title = card.findChild("h3", recursive=False)
        company = card.findChild("h4", recursive=False)
        location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
        titles.append(title.string)
        companies.append(company.string)
        locations.append(location.string)
    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
        
    
    # Return dataframe
    return data

In [4]:
# Example to call the function

results = scrape_linkedin_job_search('data%20analysis')
results

,Title,Company,Location
0,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
1,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
2,DATA SCIENTIST I,The Home Depot,"Houston, TX"
3,Junior Data Scientist Apprenticeship,IBM,"New York, NY"
4,Data Science - Intern,"Sonde Health, Inc.","Boston, MA"
5,Data Science Intern,Curology,"San Francisco, CA"
6,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
7,Data Scientist 1,PayPal,"San Jose, CA"
8,Financial Analytics Consultant,Toyota North America,"Dallas, TX"
9,Research Assistant IV Non-Lab (Research Data A...,Harvard University,"Boston, MA"
10,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
11,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
12,Data Analyst Intern,Global Atlantic Financial Group,"Des Moines, IA"
13,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
14,Quantitative Researcher,Pantera Capital,"San Francisco, CA"
15,Data Analyst,PerBlue,"Madison, WI"
16,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
17,Data Developer/Analyst,Thrivent,"Minneapolis, MN"
18,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
19,Data Analyst,Renaissance Learning,"Madison, WI"
20,Analytics Consultant,Deloitte,"Washington, DC"
21,UHNW Business Analytics,Mstream,"New York, NY"
22,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
23,Data Analyst,Aditi Consulting,"Chandler, AZ"
24,DATA SCIENTIST,Koch Industries,"Louisville, CO"

## Challenge 1

The first challenge for you is to update the `scrape_linkedin_job_search` function by adding a new parameter called `num_pages`. This will allow you to search more than 25 jobs with this function. Suggested steps:

1. Go to https://www.linkedin.com/jobs/search/?keywords=data%20analysis in your browser.
1. Scroll down the left panel and click the page 2 link. Look at how the URL changes and identify the page offset parameter.
1. Add `num_pages` as a new param to the `scrape_linkedin_job_search` function. Update the function code so that it uses a "for" loop to retrieve several pages of search results.
1. Test your new function by scraping 5 pages of the search results.

Hint: Prepare for the case where there are less than 5 pages of search results. Your function should be robust enough to **not** trigger errors. Simply skip making additional searches and return all results if the search already reaches the end.

In [39]:
# your code here

# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, n):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    
    
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    
        
    # Assemble the full url with parameters
    for i in list(range(n)):
            
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords,'&start=',str((i)*25)])
    
        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')
        
        
        
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
         
    

    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

results = scrape_linkedin_job_search('data%20analysis',2)
results

,Title,Company,Location
0,"Data Analytics Associate, CrossInstall",General Mills,"San Francisco, CA"
1,Data Scientist (Remote),Kraken Digital Asset Exchange,"Chicago, IL"
2,DATA SCIENTIST I,The Home Depot,"Houston, TX"
3,Junior Data Scientist Apprenticeship,IBM,"New York, NY"
4,Data Science - Intern,"Sonde Health, Inc.","Boston, MA"
5,Data Science Intern,Curology,"San Francisco, CA"
6,Data Analyst - Chicago,SpiderRock,"Chicago, IL"
7,Financial Analytics Consultant,Toyota North America,"Dallas, TX"
8,Research Assistant IV Non-Lab (Research Data A...,Harvard University,"Boston, MA"
9,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
10,Data Analyst,"CapTech Ventures, Inc","Charlotte, NC"
11,Data Analyst Intern,Global Atlantic Financial Group,"Des Moines, IA"
12,Data Analyst,"Shoe Carnival, Inc.","Columbia, SC"
13,Quantitative Researcher,Pantera Capital,"San Francisco, CA"
14,Data Analyst,PerBlue,"Madison, WI"
15,"Fraud Intelligence, Data Operations Analyst",White Ops,New York City Metropolitan Area
16,Data Science and Analytics,Thermo Fisher Scientific,"Carlsbad, CA"
17,UHNW Business Analytics,Mstream,"New York, NY"
18,"Analyst, Data and Analysis",Digitas North America,"Boston, MA"
19,Junior Data Scientist - Model Governance,Cigna,"New York, NY"
20,Data Analyst,Aditi Consulting,"Chandler, AZ"
21,DATA SCIENTIST,Koch Industries,"Louisville, CO"
22,Associate Analyst - Analytics,Barkley,"Kansas City, KS"
23,Data Analyst I,Massachusetts General Hospital,"Charlestown, NH"
24,Data Scientist,Datadog,"New York, NY"
25,Business Analyst Level-1,Staffigo,"Santa Clara, CA"
26,Business Analyst Level-1,Staffigo,"Newark, NJ"
27,Business Analyst Fresher,Staffigo,"Santa Clara, CA"
28,Business Analyst Fresher,Staffigo,"Portland, OR"
29,Statistical Programmer,Cygnus Professionals Inc.,"New Jersey, United States"
30,"Analyst, Data and Analysis",Digitas India,"Boston, MA"
31,SAS Developer,QuaXigma,"Schaumburg, IL"
32,IT Analyst,"PTE Systems International, LLC","Hialeah, FL"
33,Entry level Business System Analyst,Staffigo,"Reno, NV"
34,Business Analyst Trainee,Staffigo,"Hoboken, NJ"
35,SQL Developer,Optello,"Burnsville, MN"
36,Business Analyst Trainee,Staffigo,"Rock Hill, SC"
37,Business Analyst Fresher,Staffigo,"Bowie, MD"
38,Business Analyst Level-1,Staffigo,"Pasadena, CA"
39,Business Analyst Level-1,Staffigo,"Aurora, CO"
40,Associate Business Analyst (Contract) (JR1017367),Broadridge,"Edgewood, NY"
41,ENTRY LEVEL Business System Analyst,Staffigo,"Denver, CO"
42,Lead Analytics Consultant-BI Consultant,Vertiv Inc.,"Princeton, NJ"
43,Process Engineer,Talent Options ~ Diversity Staffing & Recruiti...,"San Antonio, FL"
44,Urgent - Business Analyst,Staffigo,"Newark, NJ"
45,"Data Scientist, Combinatorial Optimization","DeVine Consulting, Inc.","Monterey, CA"
46,Urgent - Business Analyst Fresher,Staffigo,"Portland, OR"
47,IT Business Analyst,Optello,"Tallahassee, FL"
48,Business Analyst,Staffigo,"Seattle, WA"
49,Urgent - Business Analyst Fresher,Staffigo,"Chicago, IL"

## Challenge 2

Further improve your function so that it can search jobs in a specific country. Add the 3rd param to your function called `country`. The steps are identical to those in Challange 1.

In [47]:
# your code here
# your code here

# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, country, n):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    
    
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    
        
    # Assemble the full url with parameters
    for i in list(range(n)):
            
        scrape_url = ''.join([BASE_URL, 'keywords=', keywords,'&location=', country, '&start=',str((i)*25)])
    
        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')
        
        
        
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
         
    

    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

results = scrape_linkedin_job_search('data%20analysis','Berlin%2C%20Germany',2)
results

,Title,Company,Location
0,(Junior) Data Analyst *,myToys.de G.m.b.H,"Berlin, Berlin, Germany"
1,Data Intern,Pandata,"Berlin, Berlin, Germany"
2,Data Analyst,Jam City,"Berlin, Berlin, Germany"
3,Data Analyst (m/f/x),"Audible, Inc.","Berlin, Berlin, Germany"
4,Data Analyst (f/m/x),audibene,"Berlin, Berlin, Germany"
5,Data Analyst,PeopleDoc Inc.,"Berlin, Berlin, Germany"
6,"Data Scientist, Pricing",SHARE NOW,"Berlin, Germany"
7,(Junior) Data Analyst - Marketing,Trade Republic,"Berlin, Berlin, Germany"
8,Data Analyst,FY International,"Berlin, Berlin, Germany"
9,(Junior) Data Scientist / Data Analyst (w/m/d),KPMG Deutschland,"Berlin, Berlin, Germany"
10,Data Scientist,hundred,"Berlin, Berlin, Germany"
11,Data Analyst,Moyyn,"Berlin, Berlin, Germany"
12,Global Quality Analysis and Operations-Team Le...,TikTok,"Berlin, Germany"
13,Revenue Data Analyst (m/f/d),Pepper.com - The World's Largest Deal Community,"Berlin, Germany"
14,Data Analyst (m/w/d),plista,"Berlin, Berlin, Germany"
15,Data Analyst / Engineer (m/w/d),Enote,"Berlin, Berlin, Germany"
16,Data Scientist,Opinary,"Berlin, Berlin, Germany"
17,Data Scientist - Operations,The Adecco Group,"Berlin, Berlin, Germany"
18,Data Analyst,Kraken Digital Asset Exchange,"Berlin, Germany"
19,Data Analyst (m/w/d),Bankpower GmbH,"Berlin, Berlin, Germany"
20,"Data Consultant/Analyst/Scientist (m/w/d), Berlin",9 friendly white rabbits,"Berlin, Berlin, Germany"
21,Product Analyst,AMBOSS,"Berlin, Berlin, Germany"
22,Data Analyst (m/f/d),Doodle Inc.,"Berlin, Berlin, Germany"
23,Data Scientist* / Data Analyst* - Big Data,IAV GmbH Ingenieurgesellschaft Auto und Verkehr,"Berlin, Berlin, Germany"
24,Team Lead Data Products and Analytics - New Bu...,idealo internet GmbH,"Berlin, Berlin, Germany"
25,Software Engineer - Data Platform,Advertima,"Berlin, Berlin, Germany"
26,Senior Data Engineer Marketing Services,Zalando,"Berlin, Berlin, Germany"
27,"Senior Product Manager, Booking & Payments (m ...",Omio,"Berlin, Berlin, Germany"
28,Senior Software Engineer - data,Pleo,"Berlin, Berlin, Germany"
29,Revenue Data Analyst (m/f/d),Pepper.com - The World's Largest Deal Community,"Berlin, Germany"
30,(Senior) Marketing Analyst (m/f/d),Mister Spex GmbH,"Berlin, Berlin, Germany"
31,Senior Data Scientist @ wattx,wattx,"Berlin, Berlin, Germany"
32,Data Analytics Consultant,Green Expert Technology Inc.,"Berlin, Berlin, Germany"
33,Data Analyst (m|f|x) - New Business,idealo internet,"Berlin, Berlin, Germany"
34,Data Analyst Sales & Markets Lounge,Zalando,"Berlin, Berlin, Germany"
35,Senior Product Analyst,AMBOSS,"Berlin, Berlin, Germany"
36,Sr Data Scientist,"Amazon.com, Inc","Berlin, Berlin, Germany"
37,Senior Business Intelligence Manager (m/f/d),Zalando SE,"Berlin, Berlin, Germany"
38,Lead Data Engineer,Artsy,"Berlin, Berlin, Germany"
39,External Manufacturing Digital Project Manager...,Bayer,"Berlin, Berlin, Germany"
40,Senior Software Development Engineer - AWS Bil...,Amazon Web Services (AWS),"Berlin, Berlin, Germany"
41,Ecotoxicologist Specialist Data Analysis and B...,BASF,"Berlin, Berlin, Germany"
42,Financial Planning Analyst,Contentful,"Berlin, Germany"
43,Software Engineer - Data Platform,Advertima,"Berlin, Germany"
44,Business Intelligence Analyst (f/m/x),AUTO1 GROUP,"Berlin, Berlin, Germany"
45,Senior Project Manager/ Program Manager,Publicis Emil,"Berlin, Berlin, Germany"
46,Senior Data Engineer (Scoober),Takeaway.com,"Berlin, Berlin, Germany"
47,Data Scientist – Operations,The Adecco Group,"Berlin, Berlin, Germany"
48,EMEA Sales Operation Analyst,Amazon Web Services (AWS),"Berlin, Berlin, Germany"
49,(Senior) Data Product Manager - Ad Tech (f/m/d),Delivery Hero,"Berlin, Berlin, Germany"

## Challenge 3

Add the 4th param called `num_days` to your function to allow it to search jobs posted in the past X days. Note that in the LinkedIn job search the searched timespan is specified with the following param:

```
f_TPR=r259200
```

The number part in the param value is the number of seconds. 259,200 seconds equal to 3 days. You need to convert `num_days` to number of seconds and supply that info to LinkedIn job search.

In [56]:
# your code here

# Import the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

"""
This function searches job posts from LinkedIn and converts the results into a dataframe.
"""
def scrape_linkedin_job_search(keywords, country, num_days, n):
    
    # Define the base url to be scraped.
    # All uppercase variable name signifies this is a constant and its value should never unchange
    
    
    BASE_URL = 'https://www.linkedin.com/jobs/search/?'
    
    

    # Create an empty dataframe with the columns consisting of the information you want to capture
    columns = ['Title', 'Company', 'Location']
    data = pd.DataFrame(columns=columns)

    # Retrieve HTML code from the webpage. Parse the HTML into a list of "cards".
    # Then in each job card, extract the job title, company, and location data.
    titles = []
    companies = []
    locations = []
    num_sec= (num_days*24*60*60)
    
    # Assemble the full url with parameters
    for i in list(range(n)):
            
        scrape_url = ''.join([BASE_URL,'f_TPR=', str(num_sec) ,'keywords=', keywords,'&location=', country, '&start=',str((i)*25)])
    
        # Create a request to get the data from the server 
        page = requests.get(scrape_url)
        soup = BeautifulSoup(page.text, 'html.parser')
        
        
        
        for card in soup.select("div.result-card__contents"):
            title = card.findChild("h3", recursive=False)
            company = card.findChild("h4", recursive=False)
            location = card.findChild("span", attrs={"class": "job-result-card__location"}, recursive=True)
            titles.append(title.string)
            companies.append(company.string)
            locations.append(location.string)
         
    

    
    # Inject job titles, companies, and locations into the empty dataframe
    zipped = zip(titles, companies, locations)
    for z in list(zipped):
        data=data.append({'Title' : z[0] , 'Company' : z[1], 'Location': z[2]} , ignore_index=True)
    
    # Return dataframe
    return data

results = scrape_linkedin_job_search('data%20analysis','Berlin%2C%20Germany', 0.01,1)
results

,Title,Company,Location
0,Junior Copywriter & Social Media Editor DE - B...,Marley Spoon,"Berlin, Berlin, Germany"
1,Private Equity Internship,NORD Holding Unternehmensbeteiligungsgesellsch...,"Berlin, Berlin, Germany"
2,Intern Investment Analyst (m/w/d),LIQID,"Berlin, Berlin, Germany"
3,Build the Future - Graduate Program,Prysmian Group,"Berlin, Germany"
4,Copywriter (Freelance),Paintgun.io,"Berlin, Berlin, Germany"
5,Intern Commercial Planning Intern (M/F/D),Zalando SE,"Berlin, Berlin, Germany"
6,Intern Entrepreneur in Residence (m/f/d) - Berlin,Campusjäger,"Berlin, Berlin, Germany"
7,"Graduate Analyst (m/f/x), Performance Marketin...",Wayfair,"Berlin, Berlin, Germany"
8,Intern Business Development (m/f/d),Magaloop,"Berlin, Berlin, Germany"
9,Administrative Assistant,KKA Partners,"Berlin, Berlin, Germany"
10,International Growth Manager for France | High...,Consultport,"Berlin, Berlin, Germany"
11,Junior Marketing Creatives Manager (f/m/d),Kolibri Games,"Berlin, Berlin, Germany"
12,Junior Recruiter (f/x/m),OUTFITTERY,"Berlin, Germany"
13,International Product Manager RX (m/f/d),BERLIN-CHEMIE,"Berlin, Berlin, Germany"
14,Operations Analyst,Trade Republic,"Berlin, Berlin, Germany"
15,Managing Director Germany,Atlantic Labs,"Berlin, Germany"
16,Product Analyst,AMBOSS,"Berlin, Berlin, Germany"
17,Strategy Consultant (all genders) Healthcare &...,Accenture DACH,"Berlin, Berlin, Germany"
18,SOCIAL MEDIA EDITOR,Guesstimate,"Berlin, Berlin, Germany"
19,Financial Analyst (Operations),Point Nine Capital,"Berlin, Berlin, Germany"
20,Junior Controller Intercompany (m/f/d),BASF,"Berlin, Berlin, Germany"
21,Head of Investing,Yova Impact Investing,"Berlin, Berlin, Germany"
22,Paid Internship Influencer Marketing Poland (*),Oceans Apart,"Berlin, Berlin, Germany"
23,"Co-Founder, Lead Product Manager (f/m/x)",Product People,"Berlin, Germany"
24,Content Editor (FR),OneFootball,"Berlin, Berlin, Germany"

## Bonus Challenge

Allow your function to also retrieve the "Seniority Level" of each job searched. Note that the Seniority Level info is not in the initial search results. You need to make a separate search request for each job card based on the `currentJobId` value which you can extract from the job card HTML.

After you obtain the Seniority Level info, update the function and add it to a new column of the returned dataframe.

In [ ]:
# your code here